<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script language="javascript">
function checkform(obj)
	{
		var error1 = document.getElementById('pw_error');
		var error2 = document.getElementById('pwa_error');
				
		error1.innerHTML = "";
		error2.innerHTML = "";
		
		if(obj.password.value.length < 6)
		{	
			error1.innerHTML = "密码长度至少为6位！";
			obj.password.focus();
			return false;
		}

		if(obj.password.value!=obj.passwdagain.value)
		{
			error2.innerHTML = "两次密码不一致，请重新确认！";
			obj.passwdagain.focus();
			return false;
		}
	
		return true;

	}



</script>
<title>Register</title>
</head>
{% if user.is_authenticated %}
<body onload="set_school()">
<table >
  <form name="register" method="post" onSubmit="return checkform(this)">
    <tr>
      <td>旧密码：</td>
      <td><input name="oldpassword" type="password" maxlength="30" ></td>
    </tr>
    {% if passwd_error %}
    <tr>
      <td colspan="2">{{ passwd_error }}</td>
    </tr>
    {% endif %}
    <tr>
      <td>新密码：</td>
      <td><input name="password" type="password" maxlength="30" >
        <br />
        <div id="pw_error"></div></td>
    </tr>
    <tr>
      <td>重复新密码：</td>
      <td><input name="passwdagain" type="password" maxlength="30">
        <br />
        <div id="pwa_error"></div></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="保存修改" /></td>
    </tr>
  </form>
</table>
</body>
{% else %}
<body>
请登录！！！！！！！！！！！！
</body>
{% endif %}
</html>
