{% block title %}用户注册{% endblock %}

{% block content %}
  <form action="" method="post">
      <label for="username">用户名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="text" name="username" value="" id="username"><br/>
      <label for="password">密码:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="password" name="password1" value="" id="password"><br/>
      <label for="password">重复密码:&nbsp;&nbsp;</label>
      <input type="password" name="password2" value="" id="password">
      <input type="submit" value="创建用户">
  </form>
  {% if pwnotmatch %}
  <p class="error">两次输入的密码不匹配请重新输入</p>
  {% endif %}
  {% if userexist %}
  <p class="error">用户名已被使用</p>
  {% endif %}

  <div class="link7">如果您已经是本网站用户，请点击<a href="/login/input" >登陆</a></div>
{% endblock %}
