<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>个性化元搜索</title>
 </head>

<frameset id="all_frame" rows="80,*">
	<frame name="top" src="" noresize scrolling="no">
	<frameset id="main_frame" cols="50%,*">
		{% ifequal page "googlebaidu" %}
				<frame id="left" noresize="noresize" src="/pms/googleresult/?q={{topic}}">
				<frame id="right" noresize="noresize" src="/pms/baiduresult/?q={{topic}}">
		{% else %}
				<frame id="left" src="">
				<frame id="right" src="">
		{% endifequal  %}
	</frameset>
</frameset>
</html>