<html>
    <head>
    <META content="text/html; charset=UTF-8" http-equiv=content-type>
    <title>PUMAS-个人主页</title>
    </head>
    <body>
    <table width="100%" height="54" align="center" cellpadding="0" cellspacing="0">
    <tr valign=middle>
    <td width="100%" valign="top" style="padding-left:8px;width:137px;" nowrap>
    <a href="/website/index/"><img src="/medias/headlogo.jpg" border="0" alt="返回主页"></a>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td width="100%" valign="top">
    <div><a href="/website/index/" color="blue">首页</a> 
    <div>
    <td></td>
    </tr></table>
    <font color = "green">
    亲爱的<font color="blue">{{username}}</font>，您好！<br>
    欢迎使用PUMAS个性化元搜索，这是您的个人主页！目前正在建设中！<br>
    在这里您可以编辑个人信息，管理您的检索历史（浏览、删除），我们将为您提供多视角的“历史回顾”！<br>
    我们提供了多种基于用户反馈与上下文分析的检索结果重排技术，您可以在检索时进行选择！<br>
    甚至您可以自己实现模块，经过我们审核，加入到模块列表中！亲身体验自己的技术转化为应用！<br>
    为了我们能更好、更快地为您提供个性化服务，您还可以显式的上传文件作为您的兴趣文档。<br>
    祝您使用愉快！
    </font>
    </body>
</html>
